:root {
    --darkblue : hsl(230, 29%, 20%);
    --gray :  hsl(230, 11%, 40%);
    --lightgray: hsl(231, 7%, 65%);
    --lightwhite: hsl(207, 33%, 95%);
    --red :hsl(0, 100%, 68%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

/* Navbar styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6.4rem 9.6rem 12rem;
    font-family: "Barlow Condensed", sans-serif;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 4.2rem;
}

.nav-list a {
    color: var(--darkblue);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.3s ease-in;
    position: relative;
}

.nav-list .dot {
    background-color: var(--lightgray);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.nav-list a::before{
    content: "";
    bottom: -1rem;
    left: 0;
    width: 0%;
    height: 0.3rem;
    position: absolute;
    background-color: var(--gray);
    transition: all 0.5s;
}

.nav-list a:hover::before {
    width: 100%;
}

/* Menu Styling */

.mobile-nav-icon {
    width: 4rem;
    height: 4rem;
    font-weight: 700;
    cursor: pointer;
}

.mobile-nav-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon[name ="close-outline"] {
    display: none;
}

/* Main grid content styling */

.grid-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    position: relative;
}

/* Grid 1st column styling */
.grid-1-col {
    padding-left: 9.2rem;
    font-family: "Barlow Condensed", sans-serif;
}

.sub-head {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: var(--lightgray);
}

.new {
    background-color: var(--darkblue);
    color: var(--lightwhite);
    margin-right: 2rem;
    border-radius: 1.4rem;
    padding: 0.5rem;
    font-weight: 600;
}


.main-head {
    color: var(--darkblue);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 6.4rem;
    line-height: 1;
    margin-bottom: 3.2rem;
}

.main-para p{
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2rem;
    color: var(--gray);
    font-family: Barlow, sans-serif;
    font-weight: 200;
}

.btn-flex {
    display: flex;
    align-items: center;
    margin-top: 6.4rem;
    gap: 2.4rem;
}

.btn-primary {
    font-family: "Barlow Condensed", sans-serif;
    background-color: var(--red);
    color: var(--lightwhite);
    padding: 1.5rem 2.4rem;
    letter-spacing: 0.4rem;
    font-weight: 700;
    border-radius: 1rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.btn-primary:hover {
    background-color: rgb(154, 150, 150);
}

.preview {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    color: var(--lightgray);
}

/* Grid 2nd column styling */

.main-image {
    max-width: 60rem;
    overflow: hidden;
}

/* Background Styling */

.background {
    position: absolute;
    width: 50%;
    background-color: var(--lightwhite);
    height: 55vh;
    top: 0%;
    left: 50%;
    z-index: -1;
    border-radius: 0 0 0 6rem;
}

/* Media query for mobile */

@media (max-width:35em) {
     
    body {
        padding: 2rem 2rem;
    }

    .header {
        margin-bottom: 6rem;
    }
    
    .grid-content {
        grid-template-columns: 1fr;
        margin-bottom: 1rem;
        gap: 4rem;
        min-height: 100vh;
        /* padding: 2rem; */
    }

    .grid-2-col {
        grid-row: 1;
        text-align: center;
    }

    .grid-2-col img{
        width: 350px;
    }

    .grid-1-col {
        padding: 0;
    }

    .main-head {
        font-size: 4rem;
    }

    .btn-flex {
        gap: 0.8rem;
    }

    .btn-primary {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }

    .preview {
        font-size: 1rem;
        letter-spacing: 0.6rem;
    }

    /* Hamburger Menu Styling */

    header {
        margin: 0;
    }

    .mobile-nav-btn {
        display: block;
        z-index: 999;
    }

    .nav-bar {
        width: 75vw;
        height: 38%;
        background-color: var(--lightwhite);
        position: absolute;
        top: 10%;
        right: 10%;
        padding: 0 2rem;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;

        /* -------------------- */
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
    }

    .nav-list a::before {
        bottom: -0.75rem;
    }

    .nav-list .dot {
        width: 68vw;
        height: 0.1rem;
        color: var(--gray);
    }

    .active .nav-bar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-nav-btn .mobile-nav-icon[name = "close-outline"]{
        display: block;
    }

    .active .mobile-nav-btn .mobile-nav-icon[name = "menu-outline"]{
        display: none;
    }

   

}