:root {
    --darkblue : hsl(230, 29%, 20%);
    --gray :  hsl(230, 11%, 40%);
    --lightgray: hsl(231, 7%, 65%);
    --lightwhite: hsl(207, 33%, 95%);
    --red :hsl(0, 100%, 68%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    margin: 6.4rem 9.6rem;
    font-size: 1.8rem;
}

/* Navbar styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16.2rem;
    font-family: "Barlow Condensed", sans-serif;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 4.2rem;
}

.nav-list a {
    color: var(--gray);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.3s ease-in;
    position: relative;
}

.nav-list .dot {
    background-color: var(--lightgray);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.nav-list a::before{
    content: "";
    bottom: -1rem;
    left: 0;
    width: 0%;
    height: 0.3rem;
    position: absolute;
    background-color: var(--gray);
    transition: all 0.5s;
}

.nav-list a:hover::before {
    width: 100%;
}

.nav-list li:last-child{
    color: var(--red);
}